body {
  margin: 0;
}

.container {
  padding: 20px;
  width: 100vw;
  height: 150vh;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(30, 1fr);
  box-sizing: border-box;
  column-gap: 5px;
  row-gap: 15px;
  background-color: #f2f0eb;
}
.container div {
  
  text-align: center;
  
}
.plot-1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 11;
  grid-template-columns: 1;
  grid-template-rows: repeat(10,1fr);
  gap: 10px;
}
.plot-1 div {
  text-align: center;
  border: 1px solid black;
}
.plot-1-date {
  grid-row-start: 1;
}
.plot-1-plot {
  grid-row-start: 2;
  grid-row-end: 12;
}
.title {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 7;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.title-inside{
  border: 1px solid black;
  grid-row-start: 2;
  grid-row-end: 4;
}
.plot-2 {
  
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 21;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(10,1fr);
  gap: 10px;

}
.plot-2 div {
  text-align: center;
  border: 1px solid black;
}
.plot-2-date {
  grid-row-start: 1;
}
.plot-2-plot {
  grid-row-start: 2;
  grid-row-end: 12;
}

.plot-3 {
  grid-row-start: 21;
  grid-row-end: 30;
  grid-column-start: 1;
  grid-column-end: 4;
  border: 1px solid black;
}
.plot-4 {
  
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 21;
  grid-row-end: 30;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(10,1fr);
  gap: 10px;
}
.plot-4 div {
  text-align: center;
  border: 1px solid black;
}
.plot-4-plot {
  grid-row-start: 2;
  grid-row-end: 12;
}
.plot-5{
  
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 21;
  border: 1px solid black;
}
.credit {
  border: 1px dashed black;
  grid-row-start: 30;
  grid-column-start: 1;
  grid-column-end: 7;
}
